body, button {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 600 !important;
}
ul {
	align-items: center;
}
.order-title {
	display: flex;
	background: #57baf1;
}
.comment {
	display: flex;
    background: white;
    font-size: .8rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #b5b5b5;
    margin-top: 20px;
}
.type-button {
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
	padding: 10px 5px;
}
.btn-cus {
	width: 100%;
    margin: 20px 30px;
	background-color: #ff7458;
	color: white;
	border-width: 1px;
	border-radius: .5rem;
	border-color: rgba(0,0,0,0.2);
}
.gotop {
	position: fixed;
	background: #e74c3c;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 30px;
}
.h-com {
	display: flex;
	justify-content: space-between;
	background: #1578a7;
	padding: 0px 5px;
}
.div-bot {
	text-align: right;
	background: #1578a7;
	margin-top: 10px;
	padding: 0px 5px;
}
.preview-photo {
	width: 430px;
	height: 400px;
}
.fa-rocket,.let-small.active,.opt-link.active {
	color: red;
}
.dimen-nav {
	background: white;
}
.ali-items {
	display: flex;
	align-items: center;
}
.dis-txt {
	display: grid;
}
.m8-l {
	margin-left: .8rem;
}
.avance.active,.disponible.active,.tomado.active,.comentario.active,.realizandose.active {
	display: block;
}
.avance,.disponible,.tomado,.comentario,.realizandose {
	display: none;
	background: #57baf1;
}
.title.active {
	color: black;
	background: white;
	border: 0px;
}
.bg-white-radi {
	background-color: #ffffff !important;
	border-radius: 5px;
}
.border-suggest {
	border: 3px solid #007bff;
}
.border-bug {
	border: 3px solid #dc3545;
}
.border-app {
	border: 3px solid #ff9f00;
}
.border-anulado {
	border: 3px solid #5803e0;
}
.header-comment {
	display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    align-items: center;
}
.parraf {
	text-align: justify;
	font-weight: 100;
	margin: 5px 10px;
	flex-grow: 1;
	cursor: pointer;
}
.footer-comment {
	display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    align-items: center;
}
.dots.active,.rest.active {
	display: inline;
}
.dots,.rest {
	display: none;
}
.comment-dots.active {
	color: #ffffff;
    background: #007bff;
    border: unset;
}
.laptop.active {
	color: #ffffff;
    background: #ff9f00;
    border: unset;
}
.bug.active {
	color: #ffffff;
    background: #dc3545;
    border: unset;
}
.no-padding {
	padding-right: 0px !important;
	padding-left: 0px !important; 
}
.border-cus {
	border: unset;
	border-radius: unset;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.bord-h-cus {
	background: #5803e0;
	color: white;
	padding: .5rem 1rem;
	align-items: center;
	border: unset;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}
.prog-cus {
	font-weight: 100;
	margin: 0px 5px;
}
.btn:hover {
	color: white;
	outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
.btn-depth {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.0125), 0 1px 1px rgba(0,0,0,0.05);
    border-top-width: .0625rem;
    border-bottom-width: calc(.2rem + .0625rem);
    transition: all .5s ease;
}
.btn-depth:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.0125);
    border-bottom-width: .0625rem;
    border-top-width: calc(.2rem + .0625rem);
}
.modal-btn-cus {
	margin: 5px 10px;
	font-size: .8rem;
}
.empty-div {
	display: flex;
	height: 200px;
	margin: 10px 20px 0px 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.grid-images {
	display: flex;
	flex-wrap: wrap;
}
.btimg-edit {
	display: flex;
    align-items: center;
    width: 120px;
}
.buton-img {
	margin-bottom: unset;
    display: flex;
    width: 100px;
    margin: 10px 9px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid black;
	border-radius: 5px;
}
.upload-image {
	width: 0px;
	height: 0px;
	overflow: hidden;
}
.m5-tb {
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.content-upload {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
	height: 200px;
	margin: 10px 9px;
    border: 1px solid black;
}
.img-upload {
	width: 120px;
	height: 170px;
	padding: 5px;
}
.btn-remove {
	width: 120px;
    text-align: center;
    background-color: #dc3545;
    color: #ffffff;
    font-size: 1.25rem;
    border-top: 1px solid black;
}
.title-uni {
	width: 100%;
	color: lightgray;
	border-bottom: 2px inset lightgray;
}
.com-padre {
	color: white;
    margin-bottom: 10px;
}
.com-hijo {
	color:black;
	background: white;
}
.alter-header-comment {
	display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #2e8b8b;
    padding: 5px 10px;
    font-weight: 100 !important;
}
.in-fin {
	display: flex;
    margin: 2px 5px;
    justify-content: space-between;
}
.btn-apilado {
	flex-grow:1;
	border-radius:unset;
}
.content-div {
    justify-content: center;
}
.modal-body {
	font-weight: 100 !important;
}
.detail-content {
	display: flex;
	justify-content: space-between;
	margin: 5px;
}
.cus-content {
	border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}
.img-prev {
	width: 100px;
	height: 100px;
	padding: 5px;
	margin: 0px 5px;
	border: 1px solid lightgray;
}
.duration {
	font-size: .7rem;
    font-weight: 100;
    color: gray;
}
.title {
	cursor: pointer;
}
.dropdown-toggle::after { 
    content: none;
}
.dropdown-item {
	font-size: .8rem;
	font-weight: 400 !important;
}
.dropdown-menu {
	min-width: unset;
}
.move-drop {
	transform: translate3d(-100px, 19px, 0px) !important;
}
.fa-pen-square {
	color: red;
}
.fa-poll-h {
	color: green;
}
#ui-datepicker-div {
	z-index: 10000 !important;
}
/**RESPONSIVE**/
/*MOVILES PEQUEÑOS*/
@media only screen and (max-width: 767px) {
	body {
		background: rgb(87,186,241);
	}
	.dis-smallest {
		display: flex;
		font-size: .7rem;
	    align-items: center;
	    width: 150px;
	    margin-top: .4rem;
	}
	.ml-10 {
		margin-left: 1rem;
	}
	.comment {
		font-size: .6rem;
	}
	.preview-photo {
		width: 310px;
    	height: 350px;
	}
	.h-aut {
		height: auto;
	}
	.title-smallest {
		font-size: 1.87rem;
	}
	.n-mrb {
		margin-bottom: 0rem;
	}
	.btn-sm {
		font-size: .6rem;
	}
	.txt-smallest {
		font-size: .7rem;
	}
	.m-title-smallest {
		font-size: .8rem;
	}
	#detalles {
		font-size: .8rem;
	}
	.type-button {
		margin-left: 3px;
    	margin-right: 3px;
    	padding: 5px;
	}
	.h-com {
		font-size: .8rem;
	}
	.div-bot {
		font-size: .8rem;
	}
	.navbar-brand {
	    font-size: .7rem;
	}
	.order-title {
		display: flex;
		font-size: .8rem;
		padding: 10px 30px 0px 30px;
	}
	.no-border {
		border-color: rgba(0,0,0,0) !important;
	}
	.nd-sm {
		display: none;
	}
	.fa-bars {
		color: black;
	}
	.dimen-nav {
		padding: 0rem 1rem;
	}
	.m20-tb {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.dimen-content {
		padding: 1rem 1rem;
	}
	.user-type {
		font-size: .58rem;
	}
	.title {
		color: white;
	    border-bottom: 0px;
	    padding: 10px 10px 0px 10px;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	}
	.content-div {
		display: flex;
		margin: 0px 30px;
		padding-bottom: 20px;
	    flex-direction: column;
	    text-align: center;
	}
	.m-content {
		margin: 0px 10px;
	}
	.m-body {
		display: flex;
	    padding: .5rem;
	    flex-direction: column; 
	}
	.edit-estado {
		background: #c62be2;
	    color: white;
	    text-align: center;
	}
	.edit-content {
		display: flex;
		flex-direction: column;
	}
	.edit-text {
		text-align: center;
		border-bottom: 1px solid lightgray;
	}
	.edit-top {
		border: 3px solid #00b2ff;
	    border-radius: 5px;
	    margin-bottom: 10px;
	    padding: 5px;
	}
	.edit-bot {
		border: 3px solid #ff6500;
	    border-radius: 5px;
	    margin-top: 10px;
	    padding: 5px;
	}
	.d-block-sm {
		display: block;
	}
	.dimen-content {
		transition: all .6s ease;
	}
	.padd {
		padding: .5rem;
    	font-size: .88rem;
	}
	.gotop {
		bottom: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
	}
}
/*MOVILES HORIZONTAL O TABLETS VERTICAL*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		background: url('/bas/resources/images/fondo.jpg') no-repeat center center fixed;
	  	background-size: cover;
	  	min-height: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
	.body-lg {
		height: 100vh;
		background: rgb(87,186,241);
	}
	ul {
		justify-content: space-between !important;
	}
	.dimen {
		padding: 1.1rem 5rem;
	}
	.navbar {
		padding: 0rem 0rem;
	}
	.m10-lr {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	#vigente {
		display: flex;
	}
	.nd-md-lg {
		display: none;
	}
	.dir-marg {
		margin-top: 10px;
		justify-content: center;
		flex-direction: row;
	}
	.let-large {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.d-flex-lg {
		display: flex;
	}
	.order-title {
		flex-direction: column;
	}
	.title {
		color: white;
		padding: 20px 10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.title-uni {
		padding: 10px 30px 0px;
	}
	.content-div {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.comment {
		flex-direction: column;
		width: 400px;
		margin: 5px;
	}
	.com-hijo {
		display: flex;
		justify-content: center;
	}
	.opt-link {
		padding: .3rem .3rem;
		color: rgba(0,0,0,.8);
	}
	.padd {
		padding: 1rem;
	}
	.pad-cus {
		padding: 0px 30px 10px;
	}
	.gotop {
		bottom: 50px;
	    right: 40px;
	    width: 50px;
	    height: 50px;
	}
	.lg-empty {
		width: -moz-available;
		width: -webkit-fill-available;
		justify-content: center;
		align-self: center;
	}
}
/*TABLETS HORIZONTAL Y PC*/
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	body {
		background: url('/bas/resources/images/fondo.jpg') no-repeat center center fixed;
	  	background-size: cover;
	  	min-height: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
	ul {
		justify-content: space-between !important;
	}
	.body-lg {
		height: 100vh;
		background: rgb(87,186,241);
	}
	.dimen {
		padding: 1.1rem 5rem;
	}
	.nd-md-lg {
		display: none;
	}
	.navbar {
		padding: 0rem 0rem;
	}
	.dir-marg {
		margin-top: 10px;
		justify-content: center;
		flex-direction: row;
	}
	.opt-link {
		padding: .3rem .3rem;
		color: rgba(0,0,0,.8);
	}
	.opt-link:hover {
		color: red;
		text-decoration: none;
	}
	.m10-lr {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.let-large {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.order-title {
		flex-direction: column;
	}
	#vigente {
		display: flex;
	}
	.content-div {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.title {
		color: white;
		padding: 20px 10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.gotop {
		bottom: 50px;
	    right: 40px;
	    width: 50px;
	    height: 50px;
	}
	.comment {
		flex-direction: column;
		width: 314px;
		margin: 5px;
	}
	.img-upload,.content-upload,.btn-remove {
		width: 170px;
	}
	.padd {
		padding: 1rem 10rem;
	}
	.sc-lg {
		padding: 0rem 5rem;
	}
	.title-uni {
		padding: 10px 30px 0px;
	}
	.pad-cus {
		padding: 0px 30px 10px;
	}
	.com-hijo {
		display: flex;
		flex-wrap: wrap;
		padding-left: 30px;
	}
	.d-flex-lg {
		display: flex;
	}
	.lg-empty {
		width: -moz-available;
		width: -webkit-fill-available;
		justify-content: center;
		align-self: center;
	}
	.btn-cus {
	    font-size: 1.2rem;
	}
	.fs8 {
		font-size: .8rem;
	}
}
/*PC MUY GRANDES*/
@media only screen and (min-width: 1200px) {
	body {
		background: url('/bas/resources/images/fondo.jpg') no-repeat center center fixed;
	  	background-size: cover;
	  	min-height: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
	ul {
		justify-content: space-between !important;
	}
	.body-lg {
		height: 100vh;
		background: rgb(87,186,241);
	}
	.dimen {
		padding: 1.1rem 5rem;
	}
	.nd-md-lg {
		display: none;
	}
	.navbar {
		padding: 0rem 0rem;
	}
	.dir-marg {
		margin-top: 10px;
		justify-content: center;
		flex-direction: row;
	}
	.opt-link {
		padding: .3rem .3rem;
		color: rgba(0,0,0,.8);
	}
	.opt-link:hover {
		color: red;
		text-decoration: none;
	}
	.m10-lr {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.let-large {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.order-title {
		flex-direction: column;
	}
	#vigente {
		display: flex;
	}
	.content-div {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.title {
		color: white;
		padding: 20px 10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.gotop {
		bottom: 50px;
	    right: 40px;
	    width: 50px;
	    height: 50px;
	}
	.comment {
		flex-direction: column;
		width: 400px;
		margin: 5px;
	}
	.img-upload,.content-upload,.btn-remove {
		width: 170px;
	}
	.padd {
		padding: 1rem 10rem;
	}
	.sc-lg {
		padding: 0rem 5rem;
	}
	.title-uni {
		padding: 10px 30px 0px;
	}
	.pad-cus {
		padding: 0px 30px 10px;
	}
	.com-hijo {
		display: flex;
		flex-wrap: wrap;
		padding-left: 30px;
	}
	.d-flex-lg {
		display: flex;
	}
	.lg-empty {
		width: -moz-available;
		width: -webkit-fill-available;
		justify-content: center;
		align-self: center;
	}
	.btn-cus {
	    font-size: 1.4rem;
	}
}